#playerEditModal{
  display: none;
}

.showPlayer{
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50px;
	background: red;
	text-align: center;
	color: white;
	border: 2px solid #444;
	margin: auto;
	font-size: 1.75em;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #d13131;
}


.colorOptionsContainer{
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row
	justify-content: space-around;
	padding-bottom: 30px; 
	padding-top: 10px;
}

#colorOptionsDrawingEdit{
	padding-top: 10px;
	width: 400px;
}

.colorOption{
	margin: auto;
	width: 30px;
	height: 30px;
	border: 2px solid #444;
	border-radius: 50px;
	text-align: center;
	color: white;
	font-size: 1.25em;
	font-weight: bolder;
	background: grey;
}

.colorOption:hover{
	box-shadow: 0px 0px 10px #AAA;
}

.blackTick{
	color: black;
}

.colorOption.active{
	/*border: 2px solid #f89300*/
}

.modalOptionContainer{
	/*background: green;*/
	width: 100%;
	margin-bottom: 30px;
	height: 35px;
}

.modalOptionText{
	display: inline-block;
	height: 35px;
	line-height: 35px;
}

.playerNumberInput{
	width: 70px;
	display: inline-block;
	height: 35px;
	float: right;
	margin-right: 20px;
	text-align: center;
	font-size: 18px;
	/*border: none;*/
	/*border-bottom: 1px solid #666*/
}

.modalButtonContainer{
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

.modalButton{
	display: block;
	margin: auto;
	padding: 5px;
	width: 175px;
	margin-bottom: 20px;
	border-radius: 10px;
	font-size: 20px;
	border: 2px solid #f89300;
	background: #eee;
	font-size: 15px;
	height: 50px;
}

.modalButton:hover{
	background: #DDD;
}

.modalButton:active{
	background: #f89300;
}

/* SLIDER */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
  float: right;
  margin-right: 30px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: transform .4s, background-color 0.1s;
}

.slider:hover{
	background: #AAA;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: transform .4s, background-color 0.1s;
}

input:checked + .slider {
  background-color: #f89300;
}

input:checked + .slider:hover {
  background-color: #ffa829;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  -webkit-tap-highlight-color: transparent;
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}


.modalSeperator{
	width: 100%;
	height: 2px;
	background-color: #eee;
	margin-bottom: 20px;
}

#deleteFrameContainer{
	display: none;
}

.frameSelector{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 225px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
}

.frameSelButton{
	font-size: 40px;
	width: 40px;
	height: 40px;
	background: none;
	border: none;
	color: #888;
	-webkit-tap-highlight-color: transparent;
}

.frameSelButton:hover{
	color: #f89300;
	transition: 0.1s;
}

.frameSelButton:disabled{
	color: #EEE;
}


.frameSelText{
	height: 40px;
	line-height: 40px
}