*{
  font-family: "Arial", sans-serif;
  user-select: none;
  padding: 0;
  margin: 0;
}

*:focus{
  outline: none;
}

canvas{
      display: block;
}

#canvasContainer{
  touch-action: none;
  background: #ebebeb;
}

#animatorContainer{
  margin: auto;
  margin-top: 50px;
  width: 900px;
  height: 807px;
  overflow: hidden;
}


#addActorModal{
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; 
  z-index: 1; /* Sit on top */
  width: inherit;
  height: 807px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 100px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  z-index: 2; /* Sit on top */
}

.modalTitle{
  padding: 20px;
  color: grey;
  /*background: red;*/
}

.modalBody{
  padding: 20px;
  padding-top: 0px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/*SIDE NAV*/
/* The side navigation menu */
.sidenav {
  height: 747px;
  width: 150px;
  top: -811px;
  left: -150px;
  position: relative;
  z-index: 2;
  background-color: #ebebeb;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  color: #111;
  position: absolute;
  top: 0px;
  left: -15px;
  font-size: 36px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sideNavMenu{

}

#sideNavMenuCover{
  display: none;
}

/*Footer Buttons - Animation*/

#animationButtonContainer{
  /*position: absolute;*/
  /*width: 100%;*/
   width: inherit;
   background: #ebebeb;
   padding-bottom: 10px; 
}

#animationFlex{
  display: flex;
  justify-content: space-around;
}

.animationButton{
  /*height: 25px;*/
  background: none;
  border: none;
  font-size: 25px;
  width: 110px;
}

.buttonUnderText{
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
  color: #777;
}

.animationButton > .buttonUnderText{
  margin-top: 3px;
}

#speedTargetDropDown{
  background: none;
  height: 70%;
  border: none;
  font-size: 20px;
  margin-top: 8px;
  width: 120px;
}


.headerPara{
  color: #888;
  font-size: 18px;
  margin: auto 0;
}

#speedText{
  margin-right: -20px;
}

#zoomText{
   margin-right: 25px;
}

#pitchText{
  margin-left: 25px;
  margin-right: -20px;
  font-size: 22px;
}



.headerSlider {
  -webkit-appearance: none;
  width: 550px;
  height: 5px;
  border-radius: 5px;
  background: #CCC;
  outline: none;
  margin-right: 15px;
}


.headerSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #999;
  background: #f89300;
}


.genButton > *{
  transition: color 0.1s;
}

.genButton:hover, .genButton:hover > *{
  transition: color 0.1s;
    color: #f89300 !important;
}

.genButton:focus, .genButton:focus > *{
  outline: none  !important;
  border: none  !important;
}

.genButton:active{
  transition: color 0s;
  color: #f89300 !important;
}

.genButton:active > *{
  transition: color 0.1s;
  color: #c48425 !important;
}

#fileDraggedOver{
  z-index: 999 !important;
  pointer-events: none;
}

#addFileCont{
  width: 300px;
  height: 200px;
  margin: auto;
  margin-top: 250px;
  text-align: center;
}

#fileAddIcon{
  color: white;
  font-size: 125px;
}

#fileAddText{
  color: white;
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
}

#exportedGIFContent{
  height: 500px
}

#exportProcessText {
  width: 100%;
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
}

#exportProcessPercentage{
  width: 100%;
  text-align: center;
  font-size: 125px;
  margin-top: 50px;
  margin-bottom: 50px;
}